asgiref==3.7.2
Django==4.2.2
django-simple-history==3.3.0
django-tenants==3.5.0
djangorestframework==3.14.0
ordered-set==4.1.0
Pillow==9.5.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
pytz==2023.3
six==1.16.0
sqlparse @ file:///C:/ci_311/sqlparse_1676456541280/work
tzdata @ file:///tmp/build/80754af9/python-tzdata_1611693927741/work
